In [1]:
import pandas as pd

In [2]:
import import_ipynb
from Code01PresentationDatasets import df

importing Jupyter notebook from Code01PresentationDatasets.ipynb
Feuille 1 : 'Teams'   shape of the dataset -> ((30, 10))
Feuille 2 : 'Ranking'   shape of the dataset -> ((102083, 9))
Feuille 3 : 'Games'   shape of the dataset -> ((13744, 17))

### Here we are going to clean the data up by :
- Analysing games played between the season 2019 and 2021
- Analysing by selecting only the count of actions in the game

In [3]:
df_games = df['Games'].copy()
df_games = df_games[df_games.SEASON >= 2019]
df_games.head(5)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2021-11-17,22100213,2021,1610612766,97,0.438,0.500,0.313,30,59,1610612764,87,0.367,0.813,0.190,23,48
1,2021-11-17,22100214,2021,1610612765,97,0.425,0.750,0.286,16,42,1610612754,89,0.418,0.737,0.243,14,43
2,2021-11-17,22100215,2021,1610612737,110,0.506,0.833,0.351,28,40,1610612738,99,0.440,0.824,0.268,24,42
3,2021-11-17,22100216,2021,1610612751,109,0.458,0.840,0.375,29,47,1610612739,99,0.393,0.857,0.250,20,50
4,2021-11-17,22100217,2021,1610612748,113,0.483,0.824,0.375,29,39,1610612740,98,0.440,0.786,0.286,18,38

In [4]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2794 entries, 0 to 2793
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GAME_DATE_EST  2794 non-null   datetime64[ns]
 1   GAME_ID        2794 non-null   int64
 2   SEASON         2794 non-null   int64
 3   TEAM_ID_home   2794 non-null   int64
 4   PTS_home       2794 non-null   int64
 5   FG_PCT_home    2794 non-null   float64
 6   FT_PCT_home    2794 non-null   float64
 7   FG3_PCT_home   2794 non-null   float64
 8   AST_home       2794 non-null   int64
 9   REB_home       2794 non-null   int64
 10  TEAM_ID_away   2794 non-null   int64
 11  PTS_away       2794 non-null   int64
 12  FG_PCT_away    2794 non-null   float64
 13  FT_PCT_away    2794 non-null   float64
 14  FG3_PCT_away   2794 non-null   float64
 15  AST_away       2794 non-null   int64
 16  REB_away       2794 non-null   int64
dtypes: datetime64[ns](1), float64(6), int64(10)
memory usage: 392.9 KB

In [5]:
#Get months and days
month = pd.DatetimeIndex(df_games.GAME_DATE_EST).month
day   = pd.DatetimeIndex(df_games.GAME_DATE_EST).day

# Affectation of month and day
df_games["GAME_DATE_MONTH"] = pd.Series(month)
df_games["GAME_DATE_DAY"] = pd.Series(day)

In [6]:
 df_games.drop(["GAME_DATE_EST","GAME_ID"],1,inplace=True)

In [7]:
def winOrLose(x):
    if(x["PTS_home"] > x["PTS_away"]):
        return 1
    else :
        return 0

In [8]:
df_games['RESULT'] = df_games.apply(winOrLose,1)

In [9]:
df_games

,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,GAME_DATE_MONTH,GAME_DATE_DAY,RESULT
0,2021,1610612766,97,0.438,0.500,0.313,30,59,1610612764,87,0.367,0.813,0.190,23,48,11,17,1
1,2021,1610612765,97,0.425,0.750,0.286,16,42,1610612754,89,0.418,0.737,0.243,14,43,11,17,1
2,2021,1610612737,110,0.506,0.833,0.351,28,40,1610612738,99,0.440,0.824,0.268,24,42,11,17,1
3,2021,1610612751,109,0.458,0.840,0.375,29,47,1610612739,99,0.393,0.857,0.250,20,50,11,17,1
4,2021,1610612748,113,0.483,0.824,0.375,29,39,1610612740,98,0.440,0.786,0.286,18,38,11,17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2789,2019,1610612754,130,0.521,0.944,0.517,35,51,1610612758,106,0.378,0.780,0.353,24,35,10,5,1
2790,2019,1610612744,101,0.393,0.769,0.262,20,47,1610612747,123,0.475,0.633,0.303,32,58,10,5,0
2791,2019,1610612759,89,0.388,0.750,0.444,22,40,1610612753,125,0.526,0.714,0.361,29,47,10,5,0
2792,2019,1610612746,96,0.384,0.600,0.273,26,49,1610612745,109,0.375,0.800,0.229,21,52,10,4,0
2793,2019,1610612758,131,0.494,0.778,0.417,30,30,1610612754,132,0.516,0.788,0.370,26,47,10,4,0

In [10]:
df_games = df_games[[
    
                   'SEASON', 'GAME_DATE_MONTH', 'GAME_DATE_DAY', 'RESULT', 
                   'TEAM_ID_home', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home',
                   'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away', 'PTS_away',
                   'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away'
                   
                    ]]

##### df_games

In [11]:
df_games.to_csv("./data/Cleaned-NBA Data Analytics.csv",encoding="utf-8", index= False)